<!DOCTYPE html>
<html>
    <head>
        <title>Notes</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="notes-header">
            <h1><a href="/" style="text-decoration: none; color: steelblue">My Notes</a></h1>
            
            <div class="header-actions">
                <div class="sort-dropdown">
                    <button class="sort-btn">
                        Sort By ▼
                    </button>
                    <div class="sort-menu">
                        <a href="?sortby=created_at&order=desc">Newest First</a>
                        <a href="?sortby=created_at&order=asc">Oldest First</a>
                        <a href="?sortby=updated_at&order=desc">Last Modified</a>
                        <a href="?sortby=title&order=asc">Title A-Z</a>
                        <a href="?sortby=title&order=desc">Title Z-A</a>
                    </div>
                </div>

                <a href="/notes/create" class="create-btn">Create</a>

                <form method="POST" action="/auth/logout"><button class="logout-btn">Logout</button></form>
            </div>
        </div>

        <container>
        <% notes.forEach(note => { %>
            <div class="note">
                <h2><%= note.title %></h2>
                <i><small>Created at:</small></i><br>
                <i><small><%= new Intl.DateTimeFormat('en-US', {
                    month: 'short',
                    day: '2-digit',   
                    year: 'numeric',  
                    hour: '2-digit',  
                    minute: '2-digit',
                    hour12: false
                }).format(note.created_at) %></small></i><br><br>
                <i><small>Last Modified:</small></i><br>
                <i><small><%= new Intl.DateTimeFormat('en-US', {
                    month: 'short',
                    day: '2-digit',   
                    year: 'numeric',  
                    hour: '2-digit',  
                    minute: '2-digit',
                    hour12: false
                }).format(note.updated_at) %></small></i><br><br>
                
                <i><small style="color:steelblue">
                    <%= note.tags.map(t => t.tag.name).join(', ') %>
                </small></i>
                
                <p style="white-space: pre-wrap;"><%= note.note.length > 100
                    ? (note.note.substring(0,100) + '...')
                    : note.note %>
                    <% if (note.note.length > 100) { %>
                        <br><a href="/notes/<%= note.id %>">Read more</a>
                    <% } %>
                </p>
                <button onclick="window.location.href='/notes/edit/<%= note.id %>'" class="editBtn">Edit</button><br><br>
                <form method="POST", action="/notes/delete/<%=note.id%>">
                    <button type="submit" class="delBtn">Delete</button>
                </form>
            </div>
        <% }) %>
        </container>


        <script>
            const sortBtn = document.querySelector('.sort-btn');
            const sortMenu = document.querySelector('.sort-menu');

            sortBtn.addEventListener('click', function(e) {
                e.stopPropagation();
                sortMenu.style.display = 
                    sortMenu.style.display === 'block' ? 'none' : 'block';
                console.log("hi")
            });

            sortMenu.addEventListener('click', function(e) {
                e.stopPropagation();
            });

            // Close dropdown when clicking outside
            document.addEventListener('click', function() {
                sortMenu.style.display = 'none';
            });
        </script>

    </body>
</html>